aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
anthropic==0.45.0
asn1crypto==1.5.1
attrs==24.3.0
bcl==2.3.1
bip-utils==2.9.3
bitarray==3.0.0
cbor2==5.6.5
cdp-agentkit-core==0.0.9
cdp-langchain==0.0.11
cdp-sdk==0.14.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
ckzg==2.0.1
coincurve==20.0.0
crcmod==1.7
cryptography==44.0.0
cytoolz==1.0.1
distro==1.9.0
ecdsa==0.19.0
ed25519-blake2b==1.4.1
egcd==2.0.2
eth-abi==5.2.0
eth-account==0.13.4
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.6.1
eth-rlp==2.1.0
eth-typing==5.1.0
eth-utils==5.1.0
frozenlist==1.5.0
greenlet==3.1.1
h11==0.14.0
hexbytes==1.3.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
jiter==0.8.2
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.3.15
langchain-anthropic==0.3.3
langchain-core==0.3.31
langchain-openai==0.2.14
langchain-text-splitters==0.3.5
langgraph==0.2.64
langgraph-checkpoint==2.0.10
langgraph-sdk==0.1.51
langsmith==0.2.11
msgpack==1.1.0
multidict==6.1.0
nilql @ git+https://github.com/NillionNetwork/nilql-py.git@a725890d58e549ea5a2cd4f39c2753e0ca8f4f74
numpy==1.26.4
openai==1.59.9
orjson==3.10.15
packaging==24.2
pailliers==0.2.0
parsimonious==0.10.0
propcache==0.2.1
py-sr25519-bindings==0.2.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.10.5
pydantic-core==2.27.2
pyjwt==2.10.1
pynacl==1.5.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pyunormalize==16.0.0
pyyaml==6.0.2
rabinmiller==0.1.0
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rlp==4.0.1
six==1.17.0
sniffio==1.3.1
sqlalchemy==2.0.37
tenacity==9.0.0
tiktoken==0.8.0
toolz==1.0.0
tqdm==4.67.1
types-requests==2.32.0.20241016
typing-extensions==4.12.2
urllib3==2.3.0
waterbear==2.6.8
web3==7.7.0
websockets==13.1
yarl==1.18.3
